<h2 class="isBold">{{bookmark.name}}</h2>

<form #form="ngForm" ngNativeValidate (ngSubmit)="updateBookmark(form)">
    <label>Name</label>
    <input [ngModel]="bookmark.name" #nameField="ngModel" name="name" class="textbox" type="text"
        placeholder="e.g. google">
    <label>URL</label>
    <input [ngModel]="bookmark.url" #urlField="ngModel" name="url" class="textbox" type="text"
        placeholder="e.g. http://google.com" required>
    <div class="btn-container">
        <a routerLink="../" class="btn">Cancel</a>
        <button type="submit" class="btn" (click)="deleteBookmark()">Delete</button>
        <button type="submit" class="btn align-end">Save</button>
    </div>
</form>